@IMPORT url("jquery-ui-1.11.4.min.css");
@IMPORT url("bootstrap-3.3.4.min.css");
@IMPORT url("font-awesome-4.3.0.min.css");
@IMPORT url("bootstrap-datetimepicker-4.14.30.min.css");
@IMPORT url("summernote-0.6.9.css");
@IMPORT url("summernote-bs3-0.6.9.css");

/* 	Login Page 
	------------------------------------------------------------------------------------------- */
#loginForm {
	  position: absolute;
	  top: 10%;
	  left: 50%;
	  width: 400px;
	  margin-left: -200px;
}

#loginForm div.input-group {
	width: 100%;
}

#loginForm div.input-group span.input-group-addon {
	width: 110px;
}

.checkbox-inline {
	margin-right:10px;
}
.radio-inline {
	margin-right:10px;
}

.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
	margin-left:0px;
}