<div class="modal fade bs-example-modal-sm" id="message-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                 </h4>
            </div>
            <div class="modal-body">
            </div>
			<div class="modal-footer">
			</div>
        </div>
    </div>
</div>